# Backend Configuration
NODE_ENV=
FRONTEND_URL=
CORS_CREDENTIALS=

# JWT Secrets
JWT_SECRET=
REFRESH_JWT_SECRET=
VERIFY_JWT_SECRET=
RESET_JWT_SECRET=

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# MongoDB Configuration
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_DB_NAME=

MONGODB_URI=

# Observability configuration
LOKI_HOST=

GF_USER=
GF_PASS=

# Frontend Configuration
VITE_API_BASE_URL=
